{% extends 'base_template.html' %}


{% block title %}Profile - {{ user.first_name }}{% endblock %}
{% block content %}
<div class="container">

<div class="row">
    <div class="col-md-6">
    <p>Hi {{ user.first_name|default:"Friend" }}, update your profile below</p>

    <hr>
<form method="post" action="." >
        {% csrf_token %}
    First Name: {{ form.first_name }}<br>
    Last Name: {{ form.last_name }}<br>
    Email: {{ form.email }}
    {{ form.password.as_hidden }}
    {{ form.username.as_hidden }}
        <input type="submit" value="Update">
    </form>

</div>
    </div>
    </div>

{% endblock content %}
