<!DOCTYPE html>
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%  block title %}{% endblock %}TastyPie Dropbox</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>    {#    <script src="{% static 'js/jquery-1.11.1.js' %}"></script>#}
{#    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"  />#}
{#    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>#}
{#    <script src="{% static 'js/index.js' %}"></script>#}

{% block head %}{% endblock %}
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>
